@font-face {
    font-family: 'Elnora';
    src: url('./fonts/elnora/Elnora-DemoRegular.woff2') format('woff2'),
        url('./fonts/elnora/Elnora-DemoRegular.ttf') format('truetype'),
        url('./fonts/elnora/Elnora-DemoRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #0D0D0B;
    color: #FFFFFF;
    font-family: 'Cardo', serif;
}

section {
    scroll-margin-top: 40px;
}

h1,
h2,
h3 {
    font-family: 'Elnora', serif;
}

/* ---------- */
/* NAV */
/* ---------- */
.navbar {
    position: sticky;
    top: 20px;
    /* space from top */
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;

    max-width: 800px;
    width: 100%;

    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    color: white;
    align-self: center;
    height: 50px;
}

.nav-links {
    display: flex;
    gap: 40px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.nav-links a:hover {
    opacity: 0.7;
}

/* ---------- */
/* HERO */
/* ---------- */

.hero {
    height: 70vh;
}

.hero-img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 999px;
    border-bottom-right-radius: 999px;
}

.hero-text {
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-text h1 {
    font-weight: 100;
    font-size: 160px;
    margin-bottom: -20px;
    color: white;
    /* letter-spacing: 2px; */
}

.hero-text p {
    font-size: 18px;
}

.hero-image img {
    width: 350px;
    border-radius: 12px;
}

/* ---------- */
/* About */
/* ---------- */
.about {
    max-width: 500px;
    margin-left: 10%;
    margin-top: 20px;
}

.about h1 {
    font-family: 'Cardo';
    margin-bottom: 5px;
}

.about p {
    margin-bottom: 10px;
}

/* ---------- */
/* Gallery */
/* ---------- */
.gallery {
    padding: 0px 40px;
    text-align: center;
}

.gallery h1 {
    font-size: 48px;
    margin-bottom: 40px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
}

.gallery-grid img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

/* This makes the image span 2 columns */
.span-2 {
    grid-column: span 2;
}

.gallery-grid img:hover {
    transform: scale(1.03);
}

@media (max-width: 1024px) {
    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .gallery-grid {
        grid-template-columns: 1fr;
    }
}

/* ---------- */
/* Plans */
/* ---------- */
.plans {
    padding: 60px 40px;
    text-align: center;
}

.plans h1 {
    font-size: 48px;
    margin-bottom: 40px;
}

.plans-grid {
    padding: 0 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    margin-bottom: 20px;
}

.plans-item {
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    width: 250px;
}

.plans-item h2 {
    font-family: 'Cardo';
}